ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Merriweather Sans;
}

li {
    list-style: none;
}

/*-- STYLESHEET HEADER--*/

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.4);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-logo {
    float: left;
    color: white;
}

.header-list li {
    float: right;
    padding-right: 20px;
    padding-left: 20px;
}

.header-list a {
    color: white;
}
