ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Merriweather Sans;
}

li {
    list-style: none;
}

/*-- STYLESHEET HEADER--*/

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 60px;
    width: 100%;
    background-color: rgb(0, 193, 203);
    position: fixed;
    top: 0;
    z-index: 999;
}

.header-logo {
    float: left;
    color: white;
}

.header-list li {
    float: right;
    padding-right: 20px;
    padding-left: 20px;
}

.header-list a {
    color: white;
}

/* STYLE TOP-WRAPPER */
.top-wrapper {
    height: 500px;
    background-size: cover;
    background-image: url(img/bg.png);
    text-align: left;
    color:rgba(255, 255, 255, .7);
}

.top-wrapper h1 {
    font-size: 66px;
    padding-top: 170px;
    padding-left: 70px;
}


.top-wrapper h4 {
    font-size: 28px;
    margin-top: -25px;
    padding-left: 70px;
}

/* style service */
.service {
    position: absolute;
    width: 100vw;
    height: 500px;
    left: 0px;
    top: 60px;
    background-color: #fff;
}

.service h1 {
    position: absolute;
    width: 197px;
    height: 90px;
    left: 535px;
}

.layanan img {
    position: absolute;
    width: 223px;
    height: 150px;
    border-radius: 30px;
}

.kiloan {
    top: 150px;
    left: 109px;
}

.satuan {
    top: 150px;
    left: 522px;
}

.carpet {
    top: 150px;
    left: 934px;
}

.delivery {
    top: 380px;
    left: 320px;
}

.iron {
    top: 380px;
    left: 730px;
}

.layanan {
    width: 100%; 
    max-width: 500px; 
    height: 300px; 
    overflow: hidden;
    margin-bottom: 20px;
}

.layanan img {
    opacity: 0.5;
    transition: transform .5s ease;
}

.layanan:hover img {
     transform: scale(1.5);
}

.service p {
    position: absolute;
    width: 178px;
    height: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 187.2%;
    color: #112031;
}

.kg {
    left: 140px;
    top: 180px;
}

.unit {
    left: 562px;
    top: 180px;
}

.karpet {
    left: 967px;
    top: 180px;
}

.antar {
    left: 370px;
    top: 410px;
}

.Setrika {
    left: 810px;
    top: 410px;
}

/*-- STYLESHEET FOOTER--*/

.footer {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
    width: 100%;   
    padding-left: 10px;
    line-height: 50px;    
    position: absolute;
    bottom: 40px;
    border-bottom: 1px solid #eee;
    text-align: center;
}
