ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Merriweather Sans;
}

li {
    list-style: none;
}

/*-- STYLESHEET HEADER--*/

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 60px;
    width: 100%;
    background-color: rgb(0, 193, 203);
    position: fixed;
    top: 0;
    z-index: 999;
}

.header-logo {
    float: left;
    color: white;
}

.header-list li {
    float: right;
    padding-right: 20px;
    padding-left: 20px;
}

.header-list a {
    color: white;
}

/* STYLE TOP-WRAPPER */
.top-wrapper {
    height: 500px;
    background-size: cover;
    background-image: url(img/bg.png);
    text-align: left;
    color:rgba(255, 255, 255, .7);
    padding-left: 70px;
}

.top-wrapper h1 {
    font-size: 66px;
    padding-top: 170px;
}

.top-wrapper h4 {
    font-size: 28px;
    margin-top: -25px;
}